openapi: 3.0.1
info:
  description: Manage ThousandEyes Dashboards.
  title: Dashboards API
  version: 7.0.63
servers:
- description: ThousandEyes API production URL
  url: https://api.thousandeyes.com/v7
security:
- BearerAuth: []
tags:
- description: Dashboards and Widgets operations
  name: Dashboards
- description: Dashboard Snapshots CRUD operations
  name: Dashboard Snapshots
- name: Dashboards Filters
paths:
  /dashboards:
    get:
      description: |
        Returns a list of dashboards and their settings within your account group.
      operationId: getDashboards
      parameters:
      - description: A unique identifier associated with your account group. You can
          retrieve your `AccountGroupId` from the `/account-groups` endpoint. Note
          that you must be assigned to the target account group. Specifying this parameter
          without being assigned to the target account group will result in an error
          response.
        in: query
        name: aid
        required: false
        schema:
          example: "1234"
          type: string
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ApiDashboards'
          description: OK
        "400":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: Request validation failed. There are invalid or missing fields
                status: 400
                detail: Your request object contains invalid fields.
                instance: /v7
                errors:
                - code: AM-5432
                  field: firstName
                  message: firstName cannot have fancy characters
                - code: DASH-5622
                  field: password
                  message: Password cannot be blank
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Bad Request
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Insufficient permissions to query endpoint
        "404":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: URI Resource Not Found
                status: 404
                detail: Details explaining if the 404 error is related to an invalid
                  URI or a wrong ID
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Not found
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Exhausted rate limit for the organization
        "500":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: Internal server error
                status: 500
                detail: Optional detail about the internal error message.
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
      summary: List dashboards
      tags:
      - Dashboards
    post:
      description: |
        Creates a new dashboard in your account group. To create a dashboard,  you must have one of the following permissions:
        * `Edit dashboard templates for all users in account group` permission (Account Admin).

        * `Edit own dashboard templates` permission (Regular User).
      operationId: createDashboard
      parameters:
      - description: A unique identifier associated with your account group. You can
          retrieve your `AccountGroupId` from the `/account-groups` endpoint. Note
          that you must be assigned to the target account group. Specifying this parameter
          without being assigned to the target account group will result in an error
          response.
        in: query
        name: aid
        required: false
        schema:
          example: "1234"
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dashboard'
        description: Request body schema to create a dashboard.
        required: true
      responses:
        "201":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Dashboard'
          description: Created
          headers:
            Location:
              $ref: '#/components/headers/Location'
        "400":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: Request validation failed. There are invalid or missing fields
                status: 400
                detail: Your request object contains invalid fields.
                instance: /v7
                errors:
                - code: AM-5432
                  field: firstName
                  message: firstName cannot have fancy characters
                - code: DASH-5622
                  field: password
                  message: Password cannot be blank
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Bad Request
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Insufficient permissions to query endpoint
        "404":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: URI Resource Not Found
                status: 404
                detail: Details explaining if the 404 error is related to an invalid
                  URI or a wrong ID
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Not found
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Exhausted rate limit for the organization
        "500":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: Internal server error
                status: 500
                detail: Optional detail about the internal error message.
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
      summary: Create dashboard
      tags:
      - Dashboards
  /dashboards/{dashboardId}:
    delete:
      description: |
        Deletes a dashboard using the `dashboardId` provided in the request.

        **Note**:
        * Users with the `Edit dashboard templates for all users in account group` permission (Account Admin) can delete any dashboard.
        * Users with the `Edit own dashboard templates` permission (Regular User) can only delete the dashboards they have created themselves.
      operationId: deleteDashboard
      parameters:
      - description: A unique identifier associated with your account group. You can
          retrieve your `AccountGroupId` from the `/account-groups` endpoint. Note
          that you must be assigned to the target account group. Specifying this parameter
          without being assigned to the target account group will result in an error
          response.
        in: query
        name: aid
        required: false
        schema:
          example: "1234"
          type: string
      - description: A Identifier for a dashboard which can be obtained from the `/dashboards`
          endpoint.
        example: 646f4d2ce3c99b0536c3821e
        explode: false
        in: path
        name: dashboardId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No content
        "400":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: Request validation failed. There are invalid or missing fields
                status: 400
                detail: Your request object contains invalid fields.
                instance: /v7
                errors:
                - code: AM-5432
                  field: firstName
                  message: firstName cannot have fancy characters
                - code: DASH-5622
                  field: password
                  message: Password cannot be blank
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Bad Request
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Insufficient permissions to query endpoint
        "404":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: URI Resource Not Found
                status: 404
                detail: Details explaining if the 404 error is related to an invalid
                  URI or a wrong ID
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Not found
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Exhausted rate limit for the organization
        "500":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: Internal server error
                status: 500
                detail: Optional detail about the internal error message.
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
      summary: Delete dashboard
      tags:
      - Dashboards
    get:
      description: |
        Returns a list of widgets within a dashboard, along with the dashboard's metadata.
      operationId: getDashboard
      parameters:
      - description: A unique identifier associated with your account group. You can
          retrieve your `AccountGroupId` from the `/account-groups` endpoint. Note
          that you must be assigned to the target account group. Specifying this parameter
          without being assigned to the target account group will result in an error
          response.
        in: query
        name: aid
        required: false
        schema:
          example: "1234"
          type: string
      - description: A Identifier for a dashboard which can be obtained from the `/dashboards`
          endpoint.
        example: 646f4d2ce3c99b0536c3821e
        explode: false
        in: path
        name: dashboardId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ApiDashboard'
          description: OK
        "400":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: Request validation failed. There are invalid or missing fields
                status: 400
                detail: Your request object contains invalid fields.
                instance: /v7
                errors:
                - code: AM-5432
                  field: firstName
                  message: firstName cannot have fancy characters
                - code: DASH-5622
                  field: password
                  message: Password cannot be blank
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Bad Request
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Insufficient permissions to query endpoint
        "404":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: URI Resource Not Found
                status: 404
                detail: Details explaining if the 404 error is related to an invalid
                  URI or a wrong ID
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Not found
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Exhausted rate limit for the organization
        "500":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: Internal server error
                status: 500
                detail: Optional detail about the internal error message.
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
      summary: Retrieve dashboard
      tags:
      - Dashboards
    put:
      description: "Updates an existing dashboard in your account group. \n\n**Note**:\
        \ \n* Users with the `Edit dashboard templates for all users in account group`\
        \ permission (Account Admin) can update any dashboard.\n* Users with the `Edit\
        \ own dashboard templates` permission (Regular User) can only update the dashboards\
        \ they have created themselves.\n"
      operationId: updateDashboard
      parameters:
      - description: A unique identifier associated with your account group. You can
          retrieve your `AccountGroupId` from the `/account-groups` endpoint. Note
          that you must be assigned to the target account group. Specifying this parameter
          without being assigned to the target account group will result in an error
          response.
        in: query
        name: aid
        required: false
        schema:
          example: "1234"
          type: string
      - description: A Identifier for a dashboard which can be obtained from the `/dashboards`
          endpoint.
        example: 646f4d2ce3c99b0536c3821e
        explode: false
        in: path
        name: dashboardId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dashboard'
        description: Request body schema to update a dashboard.
        required: true
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/Dashboard'
          description: OK
        "400":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: Request validation failed. There are invalid or missing fields
                status: 400
                detail: Your request object contains invalid fields.
                instance: /v7
                errors:
                - code: AM-5432
                  field: firstName
                  message: firstName cannot have fancy characters
                - code: DASH-5622
                  field: password
                  message: Password cannot be blank
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Bad Request
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Insufficient permissions to query endpoint
        "404":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: URI Resource Not Found
                status: 404
                detail: Details explaining if the 404 error is related to an invalid
                  URI or a wrong ID
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Not found
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Exhausted rate limit for the organization
        "500":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: Internal server error
                status: 500
                detail: Optional detail about the internal error message.
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
      summary: Update dashboard
      tags:
      - Dashboards
  /dashboards/{dashboardId}/widgets/{widgetId}:
    get:
      description: |
        Returns the raw data displayed within a widget in the dashboard.
      operationId: getDashboardWidgetData
      parameters:
      - description: A Identifier for a dashboard which can be obtained from the `/dashboards`
          endpoint.
        example: 646f4d2ce3c99b0536c3821e
        explode: false
        in: path
        name: dashboardId
        required: true
        schema:
          type: string
        style: simple
      - description: A Identifier for a widget.
        example: unpmg
        explode: false
        in: path
        name: widgetId
        required: true
        schema:
          type: string
        style: simple
      - description: A unique identifier associated with your account group. You can
          retrieve your `AccountGroupId` from the `/account-groups` endpoint. Note
          that you must be assigned to the target account group. Specifying this parameter
          without being assigned to the target account group will result in an error
          response.
        in: query
        name: aid
        required: false
        schema:
          example: "1234"
          type: string
      - description: |-
          A dynamic time interval up to the current time of the request. Specify the interval as a number followed by an optional type: `s` for seconds (default if no type is specified), `m` for minutes, `h` for hours, `d` for days, and `w` for weeks.
          For a precise date range, use `startDate` and `endDate`.
        in: query
        name: window
        schema:
          example: 12h
          pattern: "^\\d+(?:[smhdw]{1})?$"
          type: string
      - description: "Use with the `endDate` parameter. Include the complete time\
          \ (hours, minutes, and seconds) in UTC time zone, following the ISO 8601\
          \ date-time format. See the example for reference. Please note that this\
          \ parameter can't be used with `window`."
        in: query
        name: startDate
        schema:
          example: 2022-07-17T22:00:54Z
          format: date-time
          type: string
      - description: "Defaults to current time the request is made. Use with the `startDate`\
          \ parameter. Include the complete time (hours, minutes, and seconds) in\
          \ UTC time zone, following the ISO 8601 date-time format. See the example\
          \ for reference. Please note that this parameter can't be used with `window`."
        in: query
        name: endDate
        schema:
          example: 2022-07-18T22:00:54Z
          format: date-time
          type: string
      - description: |-
          Optionally specify the maximum number of objects to retrieve. This only applies to the **Alert List** and **Test Table** Widgets.
          * The default for the **Alert List** widget is set by its limitBy configuration.
          * The default value for the **Test Table** widget is 10.
        example: 10
        explode: true
        in: query
        name: max
        required: false
        schema:
          type: number
        style: form
      - description: "An optional pagination cursor. This parameter should not not\
          \ be used directly. Instead, use the `_links` returned by the API. This\
          \ feature is only available in the **Test Table** widget."
        example: bGFzdFJvdW5kSWQ9MTY4MTQxMDQ4MA
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: |-
          Optional sorting parameter with attributes listed comma-separated. This only applies to the **Alert List** and **Test Table** Widgets.
          * For the **Alert List** widget, you can sort by `alertStatus` or `startTime`. The default is `alertStatus`.
          * For the **Test Table** widget, you can sort by `alertStatus`, `testName`, or `testType`. The sequence might vary from the web application. The default sort attribute is `alertStatus`.
        example: alertStatus
        explode: true
        in: query
        name: sort
        required: false
        schema:
          type: string
        style: form
      - description: Optional sorting order parameter that accepts either `asc` (ascending)
          or `desc` (descending) values. This only applies to the **Alert List** and
          **Test Table** Widgets.
        example: asc
        explode: true
        in: query
        name: order
        required: false
        schema:
          $ref: '#/components/schemas/DashboardOrder'
        style: form
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ApiWidgetDataResponse'
          description: OK
        "400":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: Request validation failed. There are invalid or missing fields
                status: 400
                detail: Your request object contains invalid fields.
                instance: /v7
                errors:
                - code: AM-5432
                  field: firstName
                  message: firstName cannot have fancy characters
                - code: DASH-5622
                  field: password
                  message: Password cannot be blank
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Bad Request
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Insufficient permissions to query endpoint
        "404":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: URI Resource Not Found
                status: 404
                detail: Details explaining if the 404 error is related to an invalid
                  URI or a wrong ID
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Not found
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Exhausted rate limit for the organization
        "500":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: Internal server error
                status: 500
                detail: Optional detail about the internal error message.
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
      summary: Retrieve dashboard widget data
      tags:
      - Dashboards
  /dashboard-snapshots:
    get:
      description: |
        Returns a list of dashboard snapshots within your account group. Use this data to identify a specific dashboard snapshot, which can be used in other endpoints to access aggregated data. The `View Snapshots` permission is required to use this endpoint."
      operationId: getDashboardSnapshots
      parameters:
      - description: A unique identifier associated with your account group. You can
          retrieve your `AccountGroupId` from the `/account-groups` endpoint. Note
          that you must be assigned to the target account group. Specifying this parameter
          without being assigned to the target account group will result in an error
          response.
        in: query
        name: aid
        required: false
        schema:
          example: "1234"
          type: string
      - example: 646f4d2ce3c99b0536c3821e
        explode: true
        in: query
        name: dashboardId
        required: false
        schema:
          type: string
        style: form
      - description: (Optional) Opaque cursor used for pagination. Clients should
          use `next` value from `_links` instead of this parameter.
        in: query
        name: cursor
        schema:
          type: string
          example: null
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/DashboardSnapshotsPage'
          description: OK
        "400":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: Request validation failed. There are invalid or missing fields
                status: 400
                detail: Your request object contains invalid fields.
                instance: /v7
                errors:
                - code: AM-5432
                  field: firstName
                  message: firstName cannot have fancy characters
                - code: DASH-5622
                  field: password
                  message: Password cannot be blank
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Bad Request
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Insufficient permissions to query endpoint
        "404":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: URI Resource Not Found
                status: 404
                detail: Details explaining if the 404 error is related to an invalid
                  URI or a wrong ID
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Not found
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Exhausted rate limit for the organization
        "500":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: Internal server error
                status: 500
                detail: Optional detail about the internal error message.
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
      summary: List dashboard snapshots
      tags:
      - Dashboard Snapshots
    post:
      description: |
        Creates a new dashboard snapshot within your account group. The `Edit Snapshots` permission is required to use this endpoint.
      operationId: createDashboardSnapshot
      parameters:
      - description: A unique identifier associated with your account group. You can
          retrieve your `AccountGroupId` from the `/account-groups` endpoint. Note
          that you must be assigned to the target account group. Specifying this parameter
          without being assigned to the target account group will result in an error
          response.
        in: query
        name: aid
        required: false
        schema:
          example: "1234"
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateDashboardSnapshotRequest'
        description: Request body schema to create a dashboard snapshot.
        required: true
      responses:
        "201":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/DashboardSnapshotResponse'
          description: Created
          headers:
            Location:
              $ref: '#/components/headers/Location'
            X-Dashboard-Snapshot-Rate-Limit-Limit:
              $ref: '#/components/headers/DashboardSnapshotRateLimit'
            X-Dashboard-Snapshot-Rate-Limit-Remaining:
              $ref: '#/components/headers/DashboardSnapshotRateLimitRemaining'
            X-Dashboard-Snapshot-Rate-Limit-Reset:
              $ref: '#/components/headers/DashboardSnapshotRateLimitReset'
        "400":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: Request validation failed. There are invalid or missing fields
                status: 400
                detail: Your request object contains invalid fields.
                instance: /v7
                errors:
                - code: AM-5432
                  field: firstName
                  message: firstName cannot have fancy characters
                - code: DASH-5622
                  field: password
                  message: Password cannot be blank
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Bad Request
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Insufficient permissions to query endpoint
        "404":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: URI Resource Not Found
                status: 404
                detail: Details explaining if the 404 error is related to an invalid
                  URI or a wrong ID
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Not found
        "429":
          description: Exhausted rate limit for snapshot creation
          headers:
            X-Dashboard-Snapshot-Rate-Limit-Limit:
              $ref: '#/components/headers/DashboardSnapshotRateLimit'
            X-Dashboard-Snapshot-Rate-Limit-Remaining:
              $ref: '#/components/headers/DashboardSnapshotRateLimitRemaining'
            X-Dashboard-Snapshot-Rate-Limit-Reset:
              $ref: '#/components/headers/DashboardSnapshotRateLimitReset'
        "500":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: Internal server error
                status: 500
                detail: Optional detail about the internal error message.
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
      summary: Create dashboard snapshot
      tags:
      - Dashboard Snapshots
  /dashboard-snapshots/{snapshotId}:
    delete:
      description: |
        Deletes a dashboard snapshot using the `snapshotId` provided in the request. Users with the `Edit reports for all users in account group` permission (Account Admin) can delete any dashboard snapshot.
      operationId: deleteDashboardSnapshot
      parameters:
      - description: A unique identifier associated with your account group. You can
          retrieve your `AccountGroupId` from the `/account-groups` endpoint. Note
          that you must be assigned to the target account group. Specifying this parameter
          without being assigned to the target account group will result in an error
          response.
        in: query
        name: aid
        required: false
        schema:
          example: "1234"
          type: string
      - description: A Identifier for a dashboard snapshot which can be obtained from
          the `/dashboards-snapshots` endpoint.
        example: d28bb71f-5a47-4783-8f12-d4b115e61b0c
        explode: false
        in: path
        name: snapshotId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: No content
        "400":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: Request validation failed. There are invalid or missing fields
                status: 400
                detail: Your request object contains invalid fields.
                instance: /v7
                errors:
                - code: AM-5432
                  field: firstName
                  message: firstName cannot have fancy characters
                - code: DASH-5622
                  field: password
                  message: Password cannot be blank
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Bad Request
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Insufficient permissions to query endpoint
        "404":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: URI Resource Not Found
                status: 404
                detail: Details explaining if the 404 error is related to an invalid
                  URI or a wrong ID
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Not found
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Exhausted rate limit for the organization
        "500":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: Internal server error
                status: 500
                detail: Optional detail about the internal error message.
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
      summary: Delete dashboard snapshot
      tags:
      - Dashboard Snapshots
    get:
      description: This operation returns a list of widgets configured in dashboard
        snapshot configured in ThousandEyes. Seed this endpoint with a snapshotId
        found from the /dashboard-snapshots endpoint. This endpoint requires the `View
        Snapshots` permission be assigned to the role of the user accessing this endpoint.
        Returns a list of widgets configured within a dashboard snapshot. Use the
        `snapshotId` obtained from the `/dashboard-snapshots` endpoint. The `View
        Snapshots` permission is required to use this endpoint."
      operationId: getDashboardSnapshot
      parameters:
      - description: A unique identifier associated with your account group. You can
          retrieve your `AccountGroupId` from the `/account-groups` endpoint. Note
          that you must be assigned to the target account group. Specifying this parameter
          without being assigned to the target account group will result in an error
          response.
        in: query
        name: aid
        required: false
        schema:
          example: "1234"
          type: string
      - description: A Identifier for a dashboard snapshot which can be obtained from
          the `/dashboards-snapshots` endpoint.
        example: d28bb71f-5a47-4783-8f12-d4b115e61b0c
        explode: false
        in: path
        name: snapshotId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ApiDashboardSnapshot'
          description: OK
        "400":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: Request validation failed. There are invalid or missing fields
                status: 400
                detail: Your request object contains invalid fields.
                instance: /v7
                errors:
                - code: AM-5432
                  field: firstName
                  message: firstName cannot have fancy characters
                - code: DASH-5622
                  field: password
                  message: Password cannot be blank
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Bad Request
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Insufficient permissions to query endpoint
        "404":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: URI Resource Not Found
                status: 404
                detail: Details explaining if the 404 error is related to an invalid
                  URI or a wrong ID
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Not found
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Exhausted rate limit for the organization
        "500":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: Internal server error
                status: 500
                detail: Optional detail about the internal error message.
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
      summary: Retrieve dashboard snapshot
      tags:
      - Dashboard Snapshots
    patch:
      description: |
        Updates the expiration date of a dashboard snapshot. The `Edit snapshots` permission is required to access this endpoint.
      operationId: updateDashboardSnapshotExpirationDate
      parameters:
      - description: A unique identifier associated with your account group. You can
          retrieve your `AccountGroupId` from the `/account-groups` endpoint. Note
          that you must be assigned to the target account group. Specifying this parameter
          without being assigned to the target account group will result in an error
          response.
        in: query
        name: aid
        required: false
        schema:
          example: "1234"
          type: string
      - description: A Identifier for a dashboard snapshot which can be obtained from
          the `/dashboards-snapshots` endpoint.
        example: d28bb71f-5a47-4783-8f12-d4b115e61b0c
        explode: false
        in: path
        name: snapshotId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateSnapshotExpirationDateApiRequest'
        description: Request body schema to update a snapshot expiration.
        required: true
      responses:
        "204":
          description: No content
        "400":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: Request validation failed. There are invalid or missing fields
                status: 400
                detail: Your request object contains invalid fields.
                instance: /v7
                errors:
                - code: AM-5432
                  field: firstName
                  message: firstName cannot have fancy characters
                - code: DASH-5622
                  field: password
                  message: Password cannot be blank
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Bad Request
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Insufficient permissions to query endpoint
        "404":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: URI Resource Not Found
                status: 404
                detail: Details explaining if the 404 error is related to an invalid
                  URI or a wrong ID
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Not found
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Exhausted rate limit for the organization
        "500":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: Internal server error
                status: 500
                detail: Optional detail about the internal error message.
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
      summary: Update snapshot expiration
      tags:
      - Dashboard Snapshots
  /dashboard-snapshots/{snapshotId}/widgets/{widgetId}:
    get:
      description: |
        Returns actual metrics used in the generation of a dashboard snapshot.
      operationId: getDashboardSnapshotWidgetData
      parameters:
      - description: A unique identifier associated with your account group. You can
          retrieve your `AccountGroupId` from the `/account-groups` endpoint. Note
          that you must be assigned to the target account group. Specifying this parameter
          without being assigned to the target account group will result in an error
          response.
        in: query
        name: aid
        required: false
        schema:
          example: "1234"
          type: string
      - description: A Identifier for a dashboard snapshot which can be obtained from
          the `/dashboards-snapshots` endpoint.
        example: d28bb71f-5a47-4783-8f12-d4b115e61b0c
        explode: false
        in: path
        name: snapshotId
        required: true
        schema:
          type: string
        style: simple
      - description: A Identifier for a widget.
        example: unpmg
        explode: false
        in: path
        name: widgetId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ApiWidgetDataSnapshotResponse'
          description: OK
        "400":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: Request validation failed. There are invalid or missing fields
                status: 400
                detail: Your request object contains invalid fields.
                instance: /v7
                errors:
                - code: AM-5432
                  field: firstName
                  message: firstName cannot have fancy characters
                - code: DASH-5622
                  field: password
                  message: Password cannot be blank
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Bad Request
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Insufficient permissions to query endpoint
        "404":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: URI Resource Not Found
                status: 404
                detail: Details explaining if the 404 error is related to an invalid
                  URI or a wrong ID
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Not found
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Exhausted rate limit for the organization
        "500":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: Internal server error
                status: 500
                detail: Optional detail about the internal error message.
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
      summary: Retrieve dashboard snapshot data
      tags:
      - Dashboard Snapshots
  /dashboards/filters:
    get:
      description: |
        Returns a list of dashboard filters and its context within your account group.
      operationId: getDashboardsFilters
      parameters:
      - description: Optional search pattern parameter to filter list of dashboard
          filters by either name or description values.
        explode: true
        in: query
        name: searchPattern
        required: false
        schema:
          example: cea-filter
          type: string
        style: form
      - description: A unique identifier associated with your account group. You can
          retrieve your `AccountGroupId` from the `/account-groups` endpoint. Note
          that you must be assigned to the target account group. Specifying this parameter
          without being assigned to the target account group will result in an error
          response.
        in: query
        name: aid
        required: false
        schema:
          example: "1234"
          type: string
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ApiContextFiltersResponse'
          description: OK
        "400":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: Request validation failed. There are invalid or missing fields
                status: 400
                detail: Your request object contains invalid fields.
                instance: /v7
                errors:
                - code: AM-5432
                  field: firstName
                  message: firstName cannot have fancy characters
                - code: DASH-5622
                  field: password
                  message: Password cannot be blank
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Bad Request
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Insufficient permissions to query endpoint
        "404":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: URI Resource Not Found
                status: 404
                detail: Details explaining if the 404 error is related to an invalid
                  URI or a wrong ID
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Not found
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Exhausted rate limit for the organization
        "500":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: Internal server error
                status: 500
                detail: Optional detail about the internal error message.
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
      summary: List dashboard filters
      tags:
      - Dashboards Filters
    post:
      description: |
        Creates a new dashboard filter in your account group. To create a filter,  you must have one of the following permissions:
        * `Edit dashboard templates for all users in account group` permission (Account Admin). * `Edit own dashboard templates` permission (Regular User).
      operationId: createDashboardFilter
      parameters:
      - description: A unique identifier associated with your account group. You can
          retrieve your `AccountGroupId` from the `/account-groups` endpoint. Note
          that you must be assigned to the target account group. Specifying this parameter
          without being assigned to the target account group will result in an error
          response.
        in: query
        name: aid
        required: false
        schema:
          example: "1234"
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiContextFilterRequest'
        description: Dashboard filter object to be created and saved
        required: true
      responses:
        "201":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ApiContextFilterResponse'
          description: Created
          headers:
            Location:
              $ref: '#/components/headers/Location'
        "400":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: Request validation failed. There are invalid or missing fields
                status: 400
                detail: Your request object contains invalid fields.
                instance: /v7
                errors:
                - code: AM-5432
                  field: firstName
                  message: firstName cannot have fancy characters
                - code: DASH-5622
                  field: password
                  message: Password cannot be blank
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Bad Request
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Insufficient permissions to query endpoint
        "404":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: URI Resource Not Found
                status: 404
                detail: Details explaining if the 404 error is related to an invalid
                  URI or a wrong ID
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Not found
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Exhausted rate limit for the organization
        "500":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: Internal server error
                status: 500
                detail: Optional detail about the internal error message.
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
      summary: Create dashboard filter
      tags:
      - Dashboards Filters
  /dashboards/filters/{id}:
    delete:
      description: |
        Deletes a dashboard filter using the `filterId` provided in the request.


         **Note**:

         * Users with the `Edit dashboard templates for all users in account group` permission (Account Admin) can delete any dashboard filter.

         * Users with the `Edit own dashboard templates` permission (Regular User) can only delete the dashboard filters they have created themselves.
      operationId: deleteDashboardFilter
      parameters:
      - description: Unique dashboard filter ID.
        example: 65bc18e8f2073a4a469cd958
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: A unique identifier associated with your account group. You can
          retrieve your `AccountGroupId` from the `/account-groups` endpoint. Note
          that you must be assigned to the target account group. Specifying this parameter
          without being assigned to the target account group will result in an error
          response.
        in: query
        name: aid
        required: false
        schema:
          example: "1234"
          type: string
      responses:
        "204":
          description: No content
        "400":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: Request validation failed. There are invalid or missing fields
                status: 400
                detail: Your request object contains invalid fields.
                instance: /v7
                errors:
                - code: AM-5432
                  field: firstName
                  message: firstName cannot have fancy characters
                - code: DASH-5622
                  field: password
                  message: Password cannot be blank
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Bad Request
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Insufficient permissions to query endpoint
        "404":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: URI Resource Not Found
                status: 404
                detail: Details explaining if the 404 error is related to an invalid
                  URI or a wrong ID
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Not found
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Exhausted rate limit for the organization
        "500":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: Internal server error
                status: 500
                detail: Optional detail about the internal error message.
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
      summary: Delete dashboard filter
      tags:
      - Dashboards Filters
    get:
      description: |
        Returns a list of data source filters and their metadata within the dashboard filter.
      operationId: getDashboardFilter
      parameters:
      - description: Unique dashboard filter ID.
        example: 65bc18e8f2073a4a469cd958
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: A unique identifier associated with your account group. You can
          retrieve your `AccountGroupId` from the `/account-groups` endpoint. Note
          that you must be assigned to the target account group. Specifying this parameter
          without being assigned to the target account group will result in an error
          response.
        in: query
        name: aid
        required: false
        schema:
          example: "1234"
          type: string
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ApiContextFilterResponse'
          description: OK
        "400":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: Request validation failed. There are invalid or missing fields
                status: 400
                detail: Your request object contains invalid fields.
                instance: /v7
                errors:
                - code: AM-5432
                  field: firstName
                  message: firstName cannot have fancy characters
                - code: DASH-5622
                  field: password
                  message: Password cannot be blank
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Bad Request
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Insufficient permissions to query endpoint
        "404":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: URI Resource Not Found
                status: 404
                detail: Details explaining if the 404 error is related to an invalid
                  URI or a wrong ID
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Not found
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Exhausted rate limit for the organization
        "500":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: Internal server error
                status: 500
                detail: Optional detail about the internal error message.
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
      summary: Get dashboard filter
      tags:
      - Dashboards Filters
    put:
      description: "Updates an existing dashboard filter in your account group.\n\
        \                     \n **Note**:\n \n * Users with the `Edit dashboard templates\
        \ for all users in account group` permission (Account Admin) can update any\
        \ dashboard filter.\n \n * Users with the `Edit own dashboard templates` permission\
        \ (Regular User) can only update the dashboard filters they have created themselves.\n"
      operationId: updateDashboardFilter
      parameters:
      - description: Unique dashboard filter ID.
        example: 65bc18e8f2073a4a469cd958
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: A unique identifier associated with your account group. You can
          retrieve your `AccountGroupId` from the `/account-groups` endpoint. Note
          that you must be assigned to the target account group. Specifying this parameter
          without being assigned to the target account group will result in an error
          response.
        in: query
        name: aid
        required: false
        schema:
          example: "1234"
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiContextFilterRequest'
        description: Updated dashboard filter context object
        required: true
      responses:
        "200":
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/ApiContextFilterResponse'
          description: OK
        "400":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: Request validation failed. There are invalid or missing fields
                status: 400
                detail: Your request object contains invalid fields.
                instance: /v7
                errors:
                - code: AM-5432
                  field: firstName
                  message: firstName cannot have fancy characters
                - code: DASH-5622
                  field: password
                  message: Password cannot be blank
              schema:
                $ref: '#/components/schemas/ValidationError'
          description: Bad Request
        "401":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/UnauthorizedError'
          description: Unauthorized
        "403":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Insufficient permissions to query endpoint
        "404":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: URI Resource Not Found
                status: 404
                detail: Details explaining if the 404 error is related to an invalid
                  URI or a wrong ID
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Not found
        "429":
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Exhausted rate limit for the organization
        "500":
          content:
            application/problem+json:
              example:
                type: about:blank
                title: Internal server error
                status: 500
                detail: Optional detail about the internal error message.
                instance: /v7
              schema:
                $ref: '#/components/schemas/Error'
          description: Internal server error
      summary: Update dashboard filter
      tags:
      - Dashboards Filters
components:
  headers:
    DashboardSnapshotRateLimit:
      description: The maximum number of dashboard snapshot requests allowed within
        a specified time frame. The limit is 100 requests per hour.
      explode: false
      schema:
        example: 100
        type: integer
      style: simple
    DashboardSnapshotRateLimitRemaining:
      description: The number of remaining dashboard snapshot requests that can be
        made within the current time frame. This value indicates how many of the allowed
        100 requests per hour are still available.
      explode: false
      schema:
        example: 45
        type: integer
      style: simple
    DashboardSnapshotRateLimitReset:
      description: "The amount of time remaining until the rate limit resets and the\
        \ full quota of requests is available again. If the value is 0, it means the\
        \ rate limit currently allows access."
      explode: false
      schema:
        example: 160
        type: integer
      style: simple
    Location:
      description: The absolute path to created resource.
      schema:
        example: https://api.thousandeyes.com/v7/link/to/resource/id
        format: uri
        type: string
  parameters:
    DashboardIdPath:
      description: A Identifier for a dashboard which can be obtained from the `/dashboards`
        endpoint.
      example: 646f4d2ce3c99b0536c3821e
      explode: false
      in: path
      name: dashboardId
      required: true
      schema:
        type: string
      style: simple
    WidgetId:
      description: A Identifier for a widget.
      example: unpmg
      explode: false
      in: path
      name: widgetId
      required: true
      schema:
        type: string
      style: simple
    SnapshotIdPath:
      description: A Identifier for a dashboard snapshot which can be obtained from
        the `/dashboards-snapshots` endpoint.
      example: d28bb71f-5a47-4783-8f12-d4b115e61b0c
      explode: false
      in: path
      name: snapshotId
      required: true
      schema:
        type: string
      style: simple
    DashboardCursor:
      description: "An optional pagination cursor. This parameter should not not be\
        \ used directly. Instead, use the `_links` returned by the API. This feature\
        \ is only available in the **Test Table** widget."
      example: bGFzdFJvdW5kSWQ9MTY4MTQxMDQ4MA
      explode: true
      in: query
      name: cursor
      required: false
      schema:
        type: string
      style: form
    DashboardMax:
      description: |-
        Optionally specify the maximum number of objects to retrieve. This only applies to the **Alert List** and **Test Table** Widgets.
        * The default for the **Alert List** widget is set by its limitBy configuration.
        * The default value for the **Test Table** widget is 10.
      example: 10
      explode: true
      in: query
      name: max
      required: false
      schema:
        type: number
      style: form
    DashboardSort:
      description: |-
        Optional sorting parameter with attributes listed comma-separated. This only applies to the **Alert List** and **Test Table** Widgets.
        * For the **Alert List** widget, you can sort by `alertStatus` or `startTime`. The default is `alertStatus`.
        * For the **Test Table** widget, you can sort by `alertStatus`, `testName`, or `testType`. The sequence might vary from the web application. The default sort attribute is `alertStatus`.
      example: alertStatus
      explode: true
      in: query
      name: sort
      required: false
      schema:
        type: string
      style: form
    DashboardOrder:
      description: Optional sorting order parameter that accepts either `asc` (ascending)
        or `desc` (descending) values. This only applies to the **Alert List** and
        **Test Table** Widgets.
      example: asc
      explode: true
      in: query
      name: order
      required: false
      schema:
        $ref: '#/components/schemas/DashboardOrder'
      style: form
    DashboardFilterSearchPattern:
      description: Optional search pattern parameter to filter list of dashboard filters
        by either name or description values.
      explode: true
      in: query
      name: searchPattern
      required: false
      schema:
        example: cea-filter
        type: string
      style: form
    DashboardFilterIdPath:
      description: Unique dashboard filter ID.
      example: 65bc18e8f2073a4a469cd958
      explode: false
      in: path
      name: id
      required: true
      schema:
        type: string
      style: simple
    AccountGroupId:
      description: A unique identifier associated with your account group. You can
        retrieve your `AccountGroupId` from the `/account-groups` endpoint. Note that
        you must be assigned to the target account group. Specifying this parameter
        without being assigned to the target account group will result in an error
        response.
      in: query
      name: aid
      required: false
      schema:
        example: "1234"
        type: string
    Window:
      description: |-
        A dynamic time interval up to the current time of the request. Specify the interval as a number followed by an optional type: `s` for seconds (default if no type is specified), `m` for minutes, `h` for hours, `d` for days, and `w` for weeks.
        For a precise date range, use `startDate` and `endDate`.
      in: query
      name: window
      schema:
        example: 12h
        pattern: "^\\d+(?:[smhdw]{1})?$"
        type: string
    StartDateParameter:
      description: "Use with the `endDate` parameter. Include the complete time (hours,\
        \ minutes, and seconds) in UTC time zone, following the ISO 8601 date-time\
        \ format. See the example for reference. Please note that this parameter can't\
        \ be used with `window`."
      in: query
      name: startDate
      schema:
        example: 2022-07-17T22:00:54Z
        format: date-time
        type: string
    EndDateParameter:
      description: "Defaults to current time the request is made. Use with the `startDate`\
        \ parameter. Include the complete time (hours, minutes, and seconds) in UTC\
        \ time zone, following the ISO 8601 date-time format. See the example for\
        \ reference. Please note that this parameter can't be used with `window`."
      in: query
      name: endDate
      schema:
        example: 2022-07-18T22:00:54Z
        format: date-time
        type: string
    PaginationCursor:
      description: (Optional) Opaque cursor used for pagination. Clients should use
        `next` value from `_links` instead of this parameter.
      in: query
      name: cursor
      schema:
        type: string
        example: null
  responses:
    "400":
      content:
        application/problem+json:
          example:
            type: about:blank
            title: Request validation failed. There are invalid or missing fields
            status: 400
            detail: Your request object contains invalid fields.
            instance: /v7
            errors:
            - code: AM-5432
              field: firstName
              message: firstName cannot have fancy characters
            - code: DASH-5622
              field: password
              message: Password cannot be blank
          schema:
            $ref: '#/components/schemas/ValidationError'
      description: Bad Request
    "401":
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/UnauthorizedError'
      description: Unauthorized
    "403":
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Error'
      description: Insufficient permissions to query endpoint
    "404":
      content:
        application/problem+json:
          example:
            type: about:blank
            title: URI Resource Not Found
            status: 404
            detail: Details explaining if the 404 error is related to an invalid URI
              or a wrong ID
            instance: /v7
          schema:
            $ref: '#/components/schemas/Error'
      description: Not found
    "429":
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Error'
      description: Exhausted rate limit for the organization
    "500":
      content:
        application/problem+json:
          example:
            type: about:blank
            title: Internal server error
            status: 500
            detail: Optional detail about the internal error message.
            instance: /v7
          schema:
            $ref: '#/components/schemas/Error'
      description: Internal server error
    "204":
      description: No content
  schemas:
    DashboardOrder:
      enum:
      - asc
      - desc
      type: string
    ApiAgentStatusWidget:
      allOf:
      - $ref: '#/components/schemas/Widget'
      - properties:
          type:
            $ref: '#/components/schemas/AgentStatusWidgetType'
          agents:
            $ref: '#/components/schemas/AgentWidgetType'
          show:
            $ref: '#/components/schemas/AgentWidgetShow'
          dataSource:
            $ref: '#/components/schemas/AgentStatusDatasource'
        required:
        - type
        type: object
      type: object
    AgentWidgetType:
      $ref: '#/components/schemas/LegacyAgentWidgetType'
    ApiAgentWidgetType:
      description: Type of the agent.
      enum:
      - enterprise
      - endpoint
      example: endpoint
      type: string
    LegacyAgentWidgetType:
      description: Type of the agent.
      enum:
      - Enterprise Agents
      - Endpoint Agents
      type: string
    AgentWidgetShow:
      $ref: '#/components/schemas/LegacyAgentWidgetShow'
    ApiAgentWidgetShow:
      description: Ownership of the agent.
      enum:
      - owned
      - all
      example: owned
      type: string
    LegacyAgentWidgetShow:
      description: Ownership of the agent.
      enum:
      - Owned Agents
      - All Assigned Agents
      type: string
    ApiAlertListWidget:
      allOf:
      - $ref: '#/components/schemas/Widget'
      - properties:
          type:
            $ref: '#/components/schemas/AlertListWidgetType'
          alertTypes:
            description: "List of alert types configured in the widget, an empty list\
              \ means all alert types."
            items:
              $ref: '#/components/schemas/ApiAlertListAlertType'
            type: array
            uniqueItems: true
          limitTo:
            description: Limit the number of alerts displayed in the widget.
            example: 15
            format: int32
            type: integer
          activeWithin:
            $ref: '#/components/schemas/ActiveWithin'
          dataSource:
            $ref: '#/components/schemas/AlertListDatasource'
        required:
        - type
        type: object
      description: "A widget that displays a list of alerts based on specified criteria,\
        \ such as alert type and time frame."
      type: object
    ApiAggregateProperty:
      description: Defines the property by which to aggregate the metric. Metrics
        are grouped based on unique values of the chosen property. Selecting `ALL`
        aggregates the data into a single group.
      enum:
      - TIME
      - NONE
      - ALL
      - SOURCE
      - AGENT
      - MONITOR
      - CONTINENT
      - COUNTRY
      - REGION
      - TARGET_AGENT
      - SOURCE_AND_TARGET_AGENT
      - TEST
      - SERVER
      - TEST_LABEL
      - AGENT_LABEL
      - TRANSACTION_STEP
      - TRANSACTION_PAGE
      - WEB_TRANSACTION_MARKER
      - WEB_TRANSACTION_MARKER_INTERNAL
      - WEB_TRANSACTION_PAGE
      - WEB_TRANSACTION_PAGE_INTERNAL
      - EYEBROW_MACHINE_ID
      - EYEBROW_CLIENT_ID
      - EYEBROW_HOST
      - EYEBROW_NETWORK_ID
      - EYEBROW_WHOIS_RANGE_ID
      - EYEBROW_PLATFORM
      - EYEBROW_CONNECTION
      - EYEBROW_GEONAME_ID
      - EYEBROW_LABEL
      - EYEBROW_DOMAIN
      - EYEBROW_TEST
      - EYEBROW_AGENT_TYPE
      - EYEBROW_TARGET_IP
      - EYEBROW_NET_TARGET_IP
      - EYEBROW_GATEWAY
      - EYEBROW_SSID
      - SSID
      - EYEBROW_BSSID
      - BSSID
      - EYEBROW_VPN_VENDOR
      - EYEBROW_VPN_GATEWAY
      - EYEBROW_PROXY_ADDRESS
      - EYEBROW_NETWORK_PROBE_DNS_SERVER
      - EYEBROW_DESTINATION_IP_ADDRESS
      - EYEBROW_SESSION_ERRORS
      - EYEBROW_ASN
      - DEVICE_INTERFACE
      - DEVICE
      - DEVICE_CLASS
      - DEVICE_INTERFACE_TYPE
      - INSIGHTS_CATALOG_PROVIDER
      - INSIGHTS_ASN
      - ASN
      - INSIGHTS_LOCATION
      - INSIGHTS_AFFECTED_TEST
      - INSIGHTS_AFFECTED_DOMAIN
      - INSIGHTS_AFFECTED_INTERFACE_LOCATION
      - INSIGHTS_AFFECTED_INTERFACE_IP
      - INSIGHTS_DESTINATION_LOCATION
      - INSIGHTS_DESTINATION_ASN
      - INSIGHTS_DESTINATION_PREFIX
      - INSIGHTS_APPLICATION
      - INSIGHTS_ERROR_TYPE
      - INSIGHTS_AFFECTED_DOMAIN_LOCATION
      - INSIGHTS_AFFECTED_SERVER_LOCATION
      - APPDYNAMICS_APPLICATION
      - APPDYNAMICS_SERVICE
      - DOMAIN
      - EYEBROW_ORG_NAME
      - EYEBROW_USER
      - EYEBROW_AGENT
      - EYEBROW_COMPUTER_NAME
      - CLOUD_NATIVE_MONITORING-ALL
      - CLOUD_NATIVE_MONITORING-ACCOUNT
      - CLOUD_NATIVE_MONITORING-REGION
      - CLOUD_NATIVE_MONITORING-AVAILABILITY_ZONE
      - CLOUD_NATIVE_MONITORING-VPC
      - CLOUD_NATIVE_MONITORING-SUBNET
      - CLOUD_NATIVE_MONITORING-TYPE
      - CLOUD_NATIVE_MONITORING-SERVICE_PROVIDER
      - CLOUD_NATIVE_MONITORING-REMOTE_ACCOUNT
      - CLOUD_NATIVE_MONITORING-REMOTE_REGION
      - CLOUD_NATIVE_MONITORING-REMOTE_AVAILABILITY_ZONE
      - CLOUD_NATIVE_MONITORING-REMOTE_VPC
      - CLOUD_NATIVE_MONITORING-REMOTE_SUBNET
      - CLOUD_NATIVE_MONITORING-REMOTE_TYPE
      - CLOUD_NATIVE_MONITORING-REMOTE_SERVICE_PROVIDER
      - TRAFFIC_INSIGHTS_MONITORING-ALL
      - TRAFFIC_INSIGHTS_MONITORING-GEOLOC
      - TRAFFIC_INSIGHTS_MONITORING-DEVICE
      - TRAFFIC_INSIGHTS_MONITORING-DEVICE_IFNAME
      - TRAFFIC_INSIGHTS_MONITORING-APPLICATION
      example: ALL
      type: string
    ApiBoxAndWhiskersWidget:
      allOf:
      - $ref: '#/components/schemas/Widget'
      - $ref: '#/components/schemas/ScalableWidget'
      - properties:
          type:
            $ref: '#/components/schemas/BoxAndWhiskersWidgetType'
          groupBy:
            $ref: '#/components/schemas/ApiAggregateProperty'
          dataSource:
            $ref: '#/components/schemas/BoxAndWhiskersDatasource'
        required:
        - type
        type: object
      description: "A widget that displays a box and whisker plot, mapping data points\
        \ over time with key statistics: median, range, and quartiles."
      type: object
    ApiWidgetFixedYScalePrefix:
      description: Prefix denoting the unit of measurement for the fixed Y-axis scale.
      enum:
      - Kbps
      - Mbps
      - Gbps
      - Kbitps
      - Mbitps
      - Gbitps
      - Kpps
      - Mpps
      - Gpps
      example: Mbps
      type: string
    ScalableWidget:
      properties:
        minScale:
          description: Minimum scale configured in the widget.
          example: 1.0
          format: float
          type: number
        maxScale:
          description: Maximum scale configured in the widget.
          example: 100.0
          format: float
          type: number
        unit:
          $ref: '#/components/schemas/ApiWidgetFixedYScalePrefix'
      type: object
    WidgetLimit:
      description: Limit configured in the widget.
      example: 10
      format: int32
      type: integer
    ApiColorGridWidget:
      allOf:
      - $ref: '#/components/schemas/Widget'
      - $ref: '#/components/schemas/ScalableWidget'
      - properties:
          type:
            $ref: '#/components/schemas/ColorGridWidgetType'
          cards:
            $ref: '#/components/schemas/ApiAggregateProperty'
          groupCardsBy:
            $ref: '#/components/schemas/ApiAggregateProperty'
          columns:
            description: "Number of columns: 1 or 2."
            example: 1
            format: int32
            type: integer
          limit:
            $ref: '#/components/schemas/WidgetLimit'
          sortBy:
            $ref: '#/components/schemas/WidgetSortProperty'
          sortDirection:
            $ref: '#/components/schemas/WidgetSortDirection'
          dataSource:
            $ref: '#/components/schemas/ColorGridDatasource'
        required:
        - type
        type: object
      description: The Color Grid widget displays colored cards arranged in rows and
        columns.
      type: object
    ApiWidgetSortProperty:
      description: Determines the card sorting criterion.
      enum:
      - alphabetical
      - value
      example: alphabetical
      type: string
    LegacyWidgetSortProperty:
      deprecated: true
      description: Determines the card sorting criterion.
      enum:
      - Alphabetical
      - Value
      example: Alphabetical
      type: string
    WidgetSortProperty:
      $ref: '#/components/schemas/LegacyWidgetSortProperty'
    ApiWidgetSortDirection:
      description: Specifies the order in which cards are sorted.
      enum:
      - ascending
      - descending
      example: ascending
      type: string
    LegacyWidgetSortDirection:
      deprecated: true
      description: Specifies the order in which cards are sorted.
      enum:
      - Ascending
      - Descending
      example: Ascending
      type: string
    WidgetSortDirection:
      $ref: '#/components/schemas/LegacyWidgetSortDirection'
    LegacyApiDashboard:
      deprecated: true
      properties:
        accountId:
          deprecated: true
          description: Identifier for the account group associated with a dashboard.
          example: 1234
          format: int64
          readOnly: true
          type: integer
        createdBy:
          deprecated: true
          description: Identifier for the user that created a dashboard.
          example: 1
          format: int64
          readOnly: true
          type: integer
        modifiedBy:
          deprecated: true
          description: Identifier for the user that last modified a dashboard.
          example: 1
          format: int64
          readOnly: true
          type: integer
        modifiedDate:
          deprecated: true
          description: UTC date/time when a dashboard was last modified.
          example: 2023-05-16 10:14:28
          readOnly: true
          type: string
        globalOverride:
          deprecated: true
          description: "When set to `true`, the defaultTimespan is used and overrides\
            \ the widget's timespan. If set to `false`, the the widget's timespan\
            \ is used."
          type: boolean
        migratedReport:
          deprecated: true
          description: True if this dashboard was previously a report.
          example: false
          readOnly: true
          type: boolean
        apiLink:
          deprecated: true
          description: A links array containing the self and the snapshots links.
          items:
            additionalProperties: true
            type: object
          type: array
      type: object
    Dashboard:
      allOf:
      - properties:
          dashboardId:
            description: Identifier of a dashboard.
            example: 5e1f7a99143ae6004fdc3bb4
            readOnly: true
            type: string
          title:
            description: Title of a dashboard.
            example: HTTP Server Widgets
            type: string
          isBuiltIn:
            description: "Indicates if a dashboard is built-in. True for built-in\
              \ dashboards, false for user-created dashboards."
            example: true
            readOnly: true
            type: boolean
          aid:
            description: Identifier for the account group associated with a dashboard.
            example: "1234"
            readOnly: true
            type: string
          createdBy:
            description: Identifier for the user that created a dashboard.
            example: "1"
            readOnly: true
            type: string
          modifiedBy:
            description: Identifier for the user that last modified a dashboard.
            example: "1"
            readOnly: true
            type: string
          modifiedDate:
            description: UTC date/time when a dashboard was last modified (ISO date-time
              format).
            example: 2023-05-16T10:14:28Z
            format: date-time
            readOnly: true
            type: string
          isPrivate:
            description: "A dashboard can be viewed by other users in the account.\
              \ If true, only the creator of the dashboard may view it. If false,\
              \ all users in the same account may view it."
            example: true
            type: boolean
          isDefaultForUser:
            description: "Indicates whether this dashboard is the user's default.\
              \ True for default, false if not."
            example: true
            readOnly: true
            type: boolean
          isDefaultForAccount:
            description: "Indicates whether this dashboard is the account group's\
              \ default. True for default, false if not."
            example: false
            readOnly: true
            type: boolean
          widgets:
            items:
              $ref: '#/components/schemas/ApiWidget'
            type: array
          description:
            description: A text description of the dashboard's purpose and functionality.
              This information assists users in understanding the dashboard but isn't
              displayed when viewing a dashboard.
            example: HTTP Server Widgets
            type: string
          defaultTimespan:
            $ref: '#/components/schemas/DefaultTimespan'
          isGlobalOverride:
            description: "When set to `true`, the defaultTimespan is used and overrides\
              \ the widget's timespan. If set to `false`, the the widget's timespan\
              \ is used."
            type: boolean
          isMigratedReport:
            description: True if this dashboard was previously a report.
            example: false
            readOnly: true
            type: boolean
          _links:
            $ref: '#/components/schemas/DashboardLinks'
        type: object
      - $ref: '#/components/schemas/DashboardGlobalFilterId'
      description: Dashboard upon which this dashboard snapshot is based upon.
    ApiDashboards:
      items:
        $ref: '#/components/schemas/ApiDashboard'
      type: array
    ApiDashboard:
      allOf:
      - properties:
          dashboardId:
            description: Identifier of a dashboard.
            example: 5e1f7a99143ae6004fdc3bb4
            readOnly: true
            type: string
          title:
            description: Title of a dashboard.
            example: HTTP Server Widgets
            type: string
          isBuiltIn:
            description: "Indicates if a dashboard is built-in. True for built-in\
              \ dashboards, false for user-created dashboards."
            example: true
            readOnly: true
            type: boolean
          aid:
            description: Identifier for the account group associated with a dashboard.
            example: "1234"
            readOnly: true
            type: string
          dashboardCreatedBy:
            description: Identifier for the user that created a dashboard.
            example: "1"
            readOnly: true
            type: string
          dashboardModifiedBy:
            description: Identifier for the user that last modified a dashboard.
            example: "1"
            readOnly: true
            type: string
          dashboardModifiedDate:
            description: UTC date/time when a dashboard was last modified (ISO date-time
              format).
            example: 2023-05-16T10:14:28Z
            format: date-time
            readOnly: true
            type: string
          isPrivate:
            description: "A dashboard can be viewed by other users in the account.\
              \ If true, only the creator of the dashboard may view it. If false,\
              \ all users in the same account may view it."
            example: true
            type: boolean
          isDefaultForUser:
            description: "Indicates whether this dashboard is the user's default.\
              \ True for default, false if not."
            example: true
            readOnly: true
            type: boolean
          isDefaultForAccount:
            description: "Indicates whether this dashboard is the account group's\
              \ default. True for default, false if not."
            example: false
            readOnly: true
            type: boolean
          widgets:
            items:
              $ref: '#/components/schemas/ApiWidget'
            type: array
          description:
            description: A text description of the dashboard's purpose and functionality.
              This information assists users in understanding the dashboard but isn't
              displayed when viewing a dashboard.
            example: HTTP Server Widgets
            type: string
          defaultTimespan:
            $ref: '#/components/schemas/DefaultTimespan'
          isGlobalOverride:
            description: "When set to `true`, the defaultTimespan is used and overrides\
              \ the widget's timespan. If set to `false`, the the widget's timespan\
              \ is used."
            type: boolean
          isMigratedReport:
            description: True if this dashboard was previously a report.
            example: false
            readOnly: true
            type: boolean
          _links:
            $ref: '#/components/schemas/DashboardLinks'
        type: object
      - $ref: '#/components/schemas/DashboardGlobalFilterId'
      - $ref: '#/components/schemas/LegacyApiDashboard'
      description: Dashboard upon which this dashboard snapshot is based upon.
    LegacyDefaultTimespan:
      deprecated: true
      properties:
        timespanDuration:
          deprecated: true
          description: Relative timespan in seconds.
          example: 7200
          format: int64
          type: integer
        timespanStart:
          deprecated: true
          description: UTC start date of the timespan range.
          example: 2023-05-16 10:14:28
          type: string
        timespanEnd:
          deprecated: true
          description: UTC end date of the timespan range.
          example: 2023-05-16 11:14:28
          type: string
      type: object
    ApiDefaultTimespan:
      properties:
        duration:
          description: Relative timespan in seconds.
          example: 7200
          format: int64
          type: integer
        start:
          description: UTC start date of the timespan range (ISO date-time format).
          example: 2023-05-16T10:14:28Z
          format: date-time
          type: string
        end:
          description: UTC end date of the timespan range (ISO date-time format).
          example: 2023-05-16T11:14:28Z
          format: date-time
          type: string
      type: object
    DefaultTimespan:
      allOf:
      - $ref: '#/components/schemas/LegacyDefaultTimespan'
      - $ref: '#/components/schemas/ApiDefaultTimespan'
    ApiDuration:
      description: Specifies a fixed timespan for data aggregation.
      properties:
        value:
          description: Timespan value.
          example: 10
          format: int32
          type: integer
        unit:
          $ref: '#/components/schemas/LegacyDurationUnit'
      type: object
    ActiveWithin:
      description: Timespan in which alerts must have been active to appear in the
        widget.
      properties:
        value:
          description: Timespan value.
          example: 10
          format: int32
          type: integer
        unit:
          $ref: '#/components/schemas/LegacyDurationUnit'
      type: object
    DurationValue:
      description: Timespan value.
      example: 10
      format: int32
      type: integer
    LegacyDurationUnit:
      deprecated: true
      description: Timespan unit.
      enum:
      - Minutes
      - Hours
      - Days
      example: Days
      type: string
    ApiGeoMapWidget:
      allOf:
      - $ref: '#/components/schemas/Widget'
      - $ref: '#/components/schemas/ScalableWidget'
      - properties:
          type:
            $ref: '#/components/schemas/MapWidgetType'
          groupBy:
            $ref: '#/components/schemas/ApiAggregateProperty'
          isGeoMapPerTest:
            description: "Indicates whether a separate map is displayed for each test\
              \ within the widget. When set to true, individual maps are generated."
            type: boolean
          sortBy:
            $ref: '#/components/schemas/WidgetSortProperty'
          sortDirection:
            $ref: '#/components/schemas/WidgetSortDirection'
          dataSource:
            $ref: '#/components/schemas/GeoMapDatasource'
        required:
        - type
        type: object
      description: "Displays data on a geographic map, highlighting information across\
        \ different regions."
      type: object
    ApiGroupedBarchartWidget:
      allOf:
      - $ref: '#/components/schemas/Widget'
      - properties:
          type:
            $ref: '#/components/schemas/BarChartGroupedWidgetType'
          groupBy:
            $ref: '#/components/schemas/ApiAggregateProperty'
          axisGroupBy:
            $ref: '#/components/schemas/ApiAggregateProperty'
          sortBy:
            $ref: '#/components/schemas/WidgetSortProperty'
          sortDirection:
            $ref: '#/components/schemas/WidgetSortDirection'
          limit:
            $ref: '#/components/schemas/WidgetLimit'
          showLabels:
            description: Displays labels on each bar when set to `true`.
            type: boolean
          isHorizontalBarChart:
            type: boolean
          dataSource:
            $ref: '#/components/schemas/GroupedBarChartDatasource'
        required:
        - type
        type: object
      description: "Displays grouped bars, each representing multiple data points.\
        \ You can configure the bars to align horizontally or vertically."
      type: object
    ApiListWidget:
      allOf:
      - $ref: '#/components/schemas/Widget'
      - properties:
          type:
            $ref: '#/components/schemas/ListWidgetType'
          sortDirection:
            $ref: '#/components/schemas/WidgetSortDirection'
          activeWithin:
            $ref: '#/components/schemas/ActiveWithin'
          dataSource:
            $ref: '#/components/schemas/ListDatasource'
        required:
        - type
        type: object
      description: "A widget that displays a list of items, such as events. It can\
        \ use a time range to limit the items shown."
      type: object
    ApiMultiMetricColumn:
      description: Defines a column within a table that aggregates and displays various
        metrics (Multi-Metric table).
      properties:
        id:
          type: string
        dataSource:
          $ref: '#/components/schemas/MultiMetricsTableDatasource'
        metricGroup:
          $ref: '#/components/schemas/MetricGroup'
        direction:
          $ref: '#/components/schemas/DashboardMetricDirection'
        metric:
          $ref: '#/components/schemas/DashboardMetric'
        filters:
          additionalProperties:
            items: {}
            type: array
            uniqueItems: true
          description: "(Optional) Specifies the filters applied to the widget. When\
            \ present, the `filters` property displays. Each filter object has two\
            \ properties: `filterProperty` and `filterValue`. The `filterProperty`\
            \ can be values like `AGENT`, `ENDPOINT_MACHINE_ID`, `TEST`, `MONITOR`,\
            \ etc.  The `filterValue` represents an identifier array of the selected\
            \ property."
          example:
            TEST:
            - 5187
            - 5227
            ENDPOINT_MACHINE_ID:
            - fbd0050c-07f7-43f7-9631-14b32f096962
          type: object
        measure:
          $ref: '#/components/schemas/ApiWidgetMeasure'
      type: object
    ApiMultiMetricTableWidget:
      allOf:
      - $ref: '#/components/schemas/Widget'
      - properties:
          type:
            $ref: '#/components/schemas/MultiMetricTableWidgetType'
          compareToPreviousValue:
            description: Enables comparison of the current metric value with the previous
              value.
            type: boolean
          rowGroupBy:
            $ref: '#/components/schemas/ApiAggregateProperty'
          sortBy:
            $ref: '#/components/schemas/WidgetSortProperty'
[...]
